.post-single-other-all{
    margin: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    &-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        h4{
            cursor: pointer;
        }
        button{
            padding: 10px 20px;
            background-color: $white;
            border: 2px solid $sky_blue;
            color: #333;
            text-transform: capitalize;
            font-weight: bold;
            transition: $transition;
            &:hover{
                background-color: $sky_blue;
                color: $white;
                border: 1px solid #333;
            }
        }
    }
}