.layout{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 80px 1fr 80px;
    height: 100%;
    header{
        grid-area: header;
        background-color: green;
    }
    main{
        grid-area: main;
        background-color: aqua;
    }
    footer{
        grid-area: footer;
        background-color: bisque;
    }
}