.layout{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 0.2fr 1fr 80px;
    height: 100%;
    background-color: $white;
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
}