.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
  &-left {
    cursor: pointer;
    img {
      width: 100px;
      height: auto;
    }
  }
  &-right {
    @include xs {
      display: none;
    }
    @include lg {
      display: flex;
    }
    @extend .navbarItems;
    flex-direction: row;
    a {
      color: #333;
    }
    #write {
      background: $sky_blue;
      color: $white;
    }
  }
  &-collapse-icon {
    cursor: pointer;
    @include xs {
      display: block;
    }
    @include lg {
      display: none;
    }
  }
}
.navbar-collabse {
  @extend .navbarItems;
  @include xs {
    display: flex;
  }
  @include lg {
    display: none;
  }
  flex-direction: column;
  background-color: $sky_blue;
  margin: 10px 0px;
  a {
    padding: 5px 0px;
    color: #333;
  }
  #write {
    background: $white;
    color: #333;
  }
}

.navbarItems {
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  flex-wrap: wrap;
  a {
    cursor: pointer;
    font-size: 15px;
    transition: $transition;
    &:hover {
      font-weight: bold;
    }
  }
  #email {
    font-weight: bold;
  }
  #write {
    padding: 15px 10px;
    border-radius: 50%;
    &:hover {
      font-weight: normal;
    }
  }
  a:nth-last-child(1) {
    color: #ffffff;
    padding: 15px 10px;
    border-radius: 10px;
    @include xs {
      margin-bottom: 10px;
    }
    @include lg {
      margin: 0px;
    }
    &:hover {
      font-weight: normal;
    }
  }
  #logout {
    background-color: #dd3333;
    
  }
  #login {
    background-color: #28a745;
  }
}
