.post{
    display: flex;
    gap: 100px;
    margin-top: 10px;
    margin-bottom: 100px;
    &-info{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        text-transform: capitalize;
        h1{
            font-size: 40px;
            cursor: pointer;
        }
        p{
            color: #333;
            font-weight: bold;
            font-size: 15px;
        }
        button{
            padding: 20px 30px;
            background-color: $white;
            border: 1px solid $sky_blue;
            color: #333;
            text-transform: capitalize;
            font-weight: bold;
            transition: $transition;
            &:hover{
                background-color: $sky_blue;
                color: $white;
            }
        }
    }
    &-background{
        flex: 1;
        display: flex;
        img{
            height: 350px;
            width: 100%;
            object-fit: cover;
            box-shadow: -14px 21px 0px 6px $sky_blue;
        }
    }
}